<html>
  <head>
    <meta charset="UTF-8">
    <title>M305</title>
<style>

table {
  font-family: "Arial Narrow", sans-serif;
  font-size: 8.5pt;
  width: 548pt;
  text-align: left;
  vertical-align: top;
  padding: 0pt;
  margin: 0pt;
  border-collapse: collapse;
}

td,
th,
tr {
  border: 0.25pt solid #000;
  margin: 0pt;
  padding: 1pt 4pt;
  height: 8pt;
}

th,
td {
  width: 12pt;
}

th {
  padding: 2pt 4pt;
  color: #fff;
  font-weight: bold;
  background-color: rgb(109,9,0);
  text-align: left;
}

.h1 {
  font-weight: normal;
  font-size: 16pt;
  color: rgb(204,0,0);
  height: 25pt;
  background-color: #fff;
}

.h2 {
  background-color: rgb(89,89,89);
  text-align: center;
  text-transform: uppercase;
}

.smaller {
  font-size: 10pt;
  font-weight: bold;
  color: rgb(89,89,89);
  text-transform: uppercase;
}

.lcase {
  text-transform: lowercase;
}

.shade {
  background-color: rgb(191,191,191);
}

.red {
  color: rgb(204,0,0);
  font-weight: bold;
}

.fig {
  text-align: center;
  padding: 0pt;
}

.fig img {
  padding: 4pt;
  width: 100%;
  height: auto;
}

.caption {
  width: 100%;
  margin: 0pt;
  border-top: 1px solid #000;
}

.c1 {
  width: 15pt;
}
.c2 {
  width: 30pt;
}
.c3 {
  width: 45pt;
}
.c4 {
  width: 60pt;
}
.c6 {
  width: 90pt;
}
.c7 {
  width: 105pt;
}
.c8 {
  width: 120pt;
}
.c9 {
  width: 135pt;
}
.c11 {
  width: 165pt;
}
.c12 {
  width: 180pt;
}
.c14 {
  width: 210pt;
}
.c15 {
  width: 225pt;
}
.c16 {
  width: 240pt;
}
.c18 {
  width: 270pt;
}
.c22 {
  width: 330pt;
}
.c24 {
  width: 360pt;
}
.c28 {
  width: 420pt;
}
.c29 {
  width: 435pt;
}
.c30 {
  width: 450pt;
}
.c36 {
  width: 540pt;
}
</style>
  </head>
  <body>

    <table>
      <thead>
        <tr>
          <th colspan="36" class="h1 c36">
            Ficha <strong>M305</strong> — Bens Móveis e Integrados<br />
            <span class="smaller">Módulo Cadastro</span>
          </th>
        </tr>
        <tr>
          <th class="h2 c36" colspan="36">
            1. Identificação
          </th>
        </tr>
        <tr>
          <th colspan="36" class="c36">
            1.1 Recorte Territorial (Identificação da região estudada)
          </th>
        </tr>
        <tr>
          <td colspan="36" class="c36">
            &nbsp;
          </td>
        </tr>
        <tr>
          <th colspan="36" class="c36">
            1.2 Recorte Temático (Identificação do tema de estudo)
          </th>
        </tr>
        <tr>
          <td colspan="36" class="c36">
            &nbsp;
          </td>
        </tr>
        <tr>
          <th colspan="29" class="c29">
            1.3 Identificação do Bem (denominação oficial, denominação popular, outras denominações)
          </th>
          <td colspan="7" class="shade red c7">
            1.4 Código Identificador Iphan
          </td>
        </tr>
        <tr>
          <td colspan="29" class="c29">
            &nbsp;
          </td>
          <td colspan="7" class="shade c7">
            &nbsp;
          </td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="h2 c36" colspan="36">
            2. Informações históricas
          </th>
        </tr>
        <tr>
          <th class="c4" colspan="4">2.1 Datação</th>
          <td class="c6" colspan="6">&nbsp;</td>
          <th class="c4" colspan="4">2.3 Origem</th>
          <td class="c22" colspan="22">&nbsp;</td>
        </tr>
        <tr>
          <th class="c36" colspan="36">2.2 Autor/Fabricante</th>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td colspan="4" class="shade c4">Desconhecido</td>
          <td colspan="2" class="shade c2">Nome</td>
          <td class="c15" colspan="15">&nbsp;</td>
          <td class="shade c14" colspan="14">Responsável pela atribuição</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td colspan="4" class="shade c4">Conhecido</td>
          <td class="c1">&nbsp;</td>
          <td colspan="8" class="shade c8">Assinalado / Documentado</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c7" colspan="7">Atribuído</td>
          <td class="c14" colspan="14">&nbsp;</td>
        </tr>

        <tr>
          <th class="h2 c36" colspan="36">3. Características Físicas / Técnicas</th>
        </tr>
        <tr>
          <th class="c24" colspan="24">3.1 Materiais</th>
          <th class="c12" colspan="12">3.2 Técnicas</th>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">1. Âmbar</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">15. Marfim</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c12" rowspan="7" colspan="12">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">2. Argila não cozida</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">16. Materiais pictóricos</td>
          <td class="c3" colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">3. Borracha</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">17. Metal</td>
          <td class="c3" colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">4. Cerâmica</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">18. Osso</td>
          <td class="c3" colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">5. Cera</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">19. Papel</td>
          <td class="c3" colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">6. Chifre</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">20. Pedra</td>
          <td class="c3" colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">7. Conchas</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">21. Penas</td>
          <td class="c3" colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">8. Concreto</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">22. Plástico</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <th class="c4" colspan="4">3.3 Dimensões</th>
          <th class="c4" colspan="4">3.3.1 Precisa</th>
          <th class="c4" colspan="4">3.3.2 Aproximada</th>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">9. Couro/Peles/Parte de animal</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">23. Porcelana</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c4 shade" colspan="4">Altura (cm)</td>
          <td class="c4" colspan="4">&nbsp;</td>
          <td class="c4" colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">10. Fósseis</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">24. Vidro</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c4 shade" colspan="4">Largura (cm)</td>
          <td class="c4" colspan="4">&nbsp;</td>
          <td class="c4" colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">11. Madeira</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">25. Verniz</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c4 shade" colspan="4">Diâmetro (cm)</td>
          <td class="c4" colspan="4">&nbsp;</td>
          <td class="c4" colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">12. Material Botânico</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">26. Restos Mumificados</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c4 shade" colspan="4">Circunferência (cm)</td>
          <td class="c4" colspan="4">&nbsp;</td>
          <td class="c4" colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">13. Material Carbonizado</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">27. Têxteis</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c4 shade" colspan="4">Profundidade (cm)</td>
          <td class="c4" colspan="4">&nbsp;</td>
          <td class="c4" colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">14. Material Fotográfico</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">28. Outros</td>
          <td class="c3" colspan="3">&nbsp;</td>
          <td class="c4 shade" colspan="4">Peso (kg)</td>
          <td class="c4" colspan="4">&nbsp;</td>
          <td class="c4" colspan="4">&nbsp;</td>
        </tr>

        <tr>
          <th class="c36" colspan="36">3.4 Composto por Partes</th>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">3.4.1 Não</td>
          <td class="shade c27" colspan="27">3.4.2.2 Descrição das partes</td>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c8" colspan="8">3.4.2 Sim</td>
          <td class="c27" colspan="27" rowspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td class="shade c6" colspan="6">3.4.2.1 Número de partes</td>
          <td class="c3" colspan="3">&nbsp;</td>
        </tr>

        <tr>
          <th class="c36" colspan="36">3.5 Objetos relacionados</th>
        </tr>
        <tr>
          <td class="c1">&nbsp;</td>
          <td class="shade c4" colspan="4">3.5.1 Não</td>
          <td class="shade c4" colspan="4">3.5.2 Sim</td>
          <td class="shade c12" colspan="12">3.5.3 Código Iphan dos objetos relacionados</td>
          <td class="c15" colspan="15">&nbsp;</td>
        </tr>

        <tr>
          <th class="h2 c36" colspan="36">4. Descrição do Bem</th>
        </tr>
        <tr>
          <th class="c36" colspan="36">4.1 Descrição formal</th>
        </tr>
        <tr>
          <td class="c36" colspan="36">&nbsp;</td>
        </tr>
        <tr>
          <th class="c36" colspan="36">4.2 Marcas e inscrições</th>
        </tr>
        <tr>
          <td class="c36" colspan="36">&nbsp;</td>
        </tr>

        <tr>
          <th class="h2 c36" colspan="36">5. Estatuto Jurídico</th>
        </tr>
        <tr>
          <td class="shade c8" colspan="8"><strong>Situação</strong></td>
          <td class="c1">&nbsp;</td>
          <td class="c6" colspan="6"><strong>1. Comprado</strong></td>
          <td class="c1">&nbsp;</td>
          <td class="c6" colspan="6"><strong>2. Emprestado</strong></td>
          <td class="c1">&nbsp;</td>
          <td class="c6" colspan="6"><strong>3. Doado</strong></td>
          <td class="c1">&nbsp;</td>
          <td class="c6" colspan="6"><strong>4. Outra</strong></td>
        </tr>
        <tr>
          <td class="shade c8" colspan="8"><strong>Procedência</strong></td>
          <td class="c28" colspan="28">&nbsp;</td>
        </tr>

        <tr>
          <th class="h2 c36" colspan="36">6. Documentos Relacionados <span class="lcase">(repetir quantas linhas forem necessárias)</span></th>
        </tr>
        <tr>
          <td class="shade c6" colspan="6">Título</td>
          <td class="c30" colspan="30">&nbsp;</td>
        </tr>
        <tr>
          <td class="c6" colspan="6">Formato do arquivo</td>
          <td class="c18" colspan="18">&nbsp;</td>
          <td class="shade c6" colspan="6">Data (dd/mm/aaaa)</td>
          <td class="c6" colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <td class="shade c6" colspan="6">Título</td>
          <td class="c30" colspan="30">&nbsp;</td>
        </tr>
        <tr>
          <td class="c6" colspan="6">Formato do arquivo</td>
          <td class="c18" colspan="18">&nbsp;</td>
          <td class="shade c6" colspan="6">Data (dd/mm/aaaa)</td>
          <td class="c6" colspan="6">&nbsp;</td>
        </tr>

        <tr>
          <th class="h2 c36" colspan="36">7. Dados complementares <span class="lcase">(preenchimento opcional)</span></th>
        </tr>
        <tr>
          <th class="c36" colspan="36">7.1 Características estilísticas</th>
        </tr>
        <tr>
          <td class="c36" colspan="36">&nbsp;</td>
        </tr>
        <tr>
          <th class="c36" colspan="36">7.2 Características iconográficas</th>
        </tr>
        <tr>
          <td class="c36" colspan="36">&nbsp;</td>
        </tr>
        <tr>
          <th class="c36" colspan="36">7.3 Referências Bibliográficas e Arquivísticas (repetir quantas linhas forem necessárias)</th>
        </tr>

        <tr>
          <td class="shade c12" colspan="12">Fonte/Referência Bibliográfica (norma ABNT)</td>
          <td class="c24" colspan="24">&nbsp;</td>
        </tr>
        <tr>
          <td class="c12" colspan="12">Localização (nome ou link)</td>
          <td class="c14" colspan="14">&nbsp;</td>
          <td class="shade c6" colspan="6">Data (dd/mm/aaaa)</td>
          <td class="c4" colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td class="shade c12" colspan="12">Fonte/Referência Bibliográfica (norma ABNT)</td>
          <td class="c24" colspan="24">&nbsp;</td>
        </tr>
        <tr>
          <td class="c12" colspan="12">Localização (nome ou link)</td>
          <td class="c14" colspan="14">&nbsp;</td>
          <td class="shade c6" colspan="6">Data (dd/mm/aaaa)</td>
          <td class="c4" colspan="4">&nbsp;</td>
        </tr>

        <tr>
          <th class="c36" colspan="36">7.4 Demais códigos atribuídos ao objeto</th>
        </tr>
        <tr>
          <td class="c36" colspan="36">&nbsp;</td>
        </tr>

        <tr>
          <th class="h2 c36" colspan="36">8. Imagem</th>
        </tr>
        <tr>
          <td class="fig c9" colspan="9">
            <img src="sample" alt="Figura" />
            <div class="caption">Legenda</div>
          </td>
          <td class="fig c9" colspan="9">
            <img src="sample" alt="Figura" />
            <div class="caption">Legenda</div>
          </td>
          <td class="fig c9" colspan="9">
            <img src="sample" alt="Figura" />
            <div class="caption">Legenda</div>
          </td>
          <td class="fig c9" colspan="9">
            <img src="sample" alt="Figura" />
            <div class="caption">Legenda</div>
          </td>
        </tr>
        <tr>
          <td class="fig c9" colspan="9">
            <img src="sample" alt="Figura" />
            <div class="caption">Legenda</div>
          </td>
          <td class="fig c9" colspan="9">
            <img src="sample" alt="Figura" />
            <div class="caption">Legenda</div>
          </td>
          <td class="fig c9" colspan="9">
            <img src="sample" alt="Figura" />
            <div class="caption">Legenda</div>
          </td>
          <td class="fig c9" colspan="9">
            <img src="sample" alt="Figura" />
            <div class="caption">Legenda</div>
          </td>
        </tr>

        <tr>
          <th class="h2 c36" colspan="36">9. Preenchimento</th>
        </tr>
        <tr>
          <td class="shade c9" colspan="9">9.1 Entidade</td>
          <td class="c20" colspan="20">&nbsp;</td>
          <td class="shade c7" colspan="7">9.2 Data (dd/mm/aaaa)</td>
        </tr>
        <tr>
          <td class="shade c9" colspan="9">9.3 Responsável</td>
          <td class="c20" colspan="20">&nbsp;</td>
          <td class="c7" colspan="7">&nbsp;</td>
        </tr>
        <tr>
          <td class="shade c9" colspan="9">9.3 Responsável</td>
          <td class="c20" colspan="20">&nbsp;</td>
          <td class="c7" colspan="7">&nbsp;</td>
        </tr>
        <tr>
          <td class="shade c9" colspan="9">9.3 Responsável</td>
          <td class="c20" colspan="20">&nbsp;</td>
          <td class="c7" colspan="7">&nbsp;</td>
        </tr>

      </tbody>
    </table>

  </body>
</html>
