{% extends 'objectinfo/base.html' %}
{% load static %}

{% block content %}
<form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Edit Object Register</h1>
      </div>

      <div class="form-group">
        <table class="table talbe-striped table-condensed">
          {{ form.as_table }}
        </table>
        <h2>Dimensions</h2>
        <table class="table table-striped table-condensed">
          {{ dimensions }}
        </table>
        <h2>Inscriptions</h2>
        <table class="table table-striped table-condensed">
          {{ inscriptions }}
        </table>
        <h2>Existing object numbers</h2>
        <table class="table table-striped table-condensed">
          {{ other_numbers }}
        </table>
      </div>

      <div class="panel-footer">
          <button type="submit" class="save btn btn-default" value="Save & continue">Save &amp; continue</button>
      </div>
    </div>
</form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'objectinfo/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
      $(function() {
        $('#dimensions_table tbody tr').formset({
            addText: 'add dimension',
            deleteText: 'remove',
            prefix: "dimensions_form"
            formCssClass: 'dimensions_form'
        });
        $('#inscriptions_table tbody tr').formset({
            addText: 'add inscription',
            deleteText: 'remove',
            prefix: "inscriptions_form"
            formCssClass: 'inscriptions_form'
        });
        $('#other_numbers_table tbody tr').formset({
            addText: 'add number',
            deleteText: 'remove',
            prefix: "{{ other_numbers_form }}"
            formCssClass: 'other_numbers_form'
        });
      })
    </script>
{% endblock %}
